{% extends "expenselogger/main.html" %}

{% block content %}
<h2>Submit New Expense</h2>


<form action="{% url 'create_expense'%}" method="post"  onsubmit="return confirm('Are you sure you want to submit this expense?')">
{% csrf_token %}

<div class="input-group">
    <label for="expense_name">Name</label>: <input type="text" class="form-control" name="expense_name"/>
    <label for="expense_type">Type</label>: 
    <select name="expense_type">
  		<option value="Flight">Flight</option>
  		<option value="Car Rental">Car Rental</option>
  		<option value="Hotel">Hotel</option>
  		
	</select>
	<br>
	<label for="expense_amount">Amount</label>: <input type="number" class="form-control" name="expense_amount"/>
	<label for="expense_date">Date</label>: <input type="date" class="form-control" name="expense_date"/>
    <input type="submit" id="submit_expense" value="Submit" class="form-control" />
</div>
</form>


<h2>Recently Submitted Expenses</h2>
<!--List of all submitted expenses-->
	<ul>
    {% for e in expense_list %}
    	
    	<!--Set title to expense name-->
        <li title= {{e.name}} onclick= "toggleInfo(this.title)">{{ e.name }}</li>
        <!--Have all info of expense hidden by default-->
        <span id={{e.name}} style="display: none;">
			<b>Name:</b> {{ e.name }} <br>
			<b>Type:</b> {{e.type}}<br>
			<b>Amount:</b> ${{e.amount}}<br>
			<b>Date:</b> {{e.date}}
		</span>
    {% endfor %}
    </ul>
    

 <!--Function for toggling expense information-->   
<script>
function toggleInfo(e)
{
	var isVisible = document.getElementById(e).offsetWidth > 0 || document.getElementById(e).offsetHeight > 0;
	
	
	if (isVisible)
	  {
		document.getElementById(e).style.display = 'none';
	  }
	else
	  {
		document.getElementById(e).style.display = 'block';
	  }
}
</script>

{% endblock %}